<div class="calendar-background">
    <div class="calendar-container">
        <h3>GYM PLANNING</h3>
        <div id="calendar">
            <div class="placeholder"></div>
            <div class="calendar-events">
                <div class="day-title">
                    <div class="day">Monday</div>
                    <div class="day">Tuesday</div>
                    <div class="day">Wednesday</div>
                    <div class="day">Thursday</div>
                    <div class="day">Friday</div>
                    <div class="day">Saturday</div>
                    <div class="day">Sunday</div>
                </div>

                <div class="day-content">
                    <div *ngFor="let day of days" class="square">
                        <div *ngFor="let exercise of exercises | dayFilter: day" class="exercise">
                            <div class="exercise-details">
                                <div class="name">{{ exercise.name }}</div>
                                <div class="repetitions">Reps: {{ exercise.repetitions }}</div>
                                <div class="weight">Weight: {{ exercise.weight }}</div>
                                <div class="exercise_day">Day: {{ exercise.day }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
</div>