<div class="calendar-background">
    <div class="calendar-container">
        <div class="header">
            <h3>GYM PLANNING</h3>
            <div class="delete-all-btn">
                <button (click)="deleteAllExercises()">Delete All</button>
            </div>
        </div>
        <div id="calendar">
            <div class="placeholder"></div>
            <div class="calendar-events">
                <div class="day-title" #dayTitle (scroll)="onScroll($event)">
                    <div class="day">Monday<button class="plus-btn"
                        (click)="handleSquareClick($event, 'Monday')">+</button></div>
                    <div class="day">Tuesday<button class="plus-btn"
                        (click)="handleSquareClick($event, 'Tuesday')">+</button></div>
                    <div class="day">Wednesday<button class="plus-btn"
                        (click)="handleSquareClick($event, 'Wednesday')">+</button></div>
                    <div class="day">Thursday<button class="plus-btn"
                        (click)="handleSquareClick($event, 'Thursday')">+</button></div>
                    <div class="day">Friday<button class="plus-btn"
                        (click)="handleSquareClick($event, 'Friday')">+</button></div>
                    <div class="day">Saturday<button class="plus-btn"
                        (click)="handleSquareClick($event, 'Saturday')">+</button></div>
                    <div class="day">Sunday <button class="plus-btn"
                            (click)="handleSquareClick($event, 'Sunday')">+</button>
                    </div>
                </div>
                <div class="day-content" #dayContent (scroll)="onScroll($event)">

                    <!-- Monday -->
                    <div class="square" (click)="handleSquareClick($event, 'Monday')">
                        <div *ngFor="let exercise of exercises | dayFilter: 'Monday'" class="exercise"
                            (click)="toggleExerciseButtons(exercise)">
                            <h2>{{ exercise.name }}</h2>
                            <div class='description'>Series: {{ exercise.series }}</div>
                            <div class='description'>Repetitions: {{ exercise.repetitions }}</div>
                            <div class='description'>Weight: {{ exercise.weight }}</div>

                            <hr />
                            <!-- Edit and Delete buttons -->
                            <div class="exercise-buttons" *ngIf="exercise.showButtons">
                                <button class="edit-btn" (click)="openEditExercisePopup(exercise)">Edit</button>
                                <button class="delete-btn" (click)="deleteExercise(exercise.id)">Delete</button>
                            </div>

                        </div>
                    </div>

                    <!-- Tuesday -->
                    <div class="square" (click)="handleSquareClick($event, 'Tuesday')">
                        <div *ngFor="let exercise of exercises | dayFilter: 'Tuesday'" class="exercise"
                            (click)="toggleExerciseButtons(exercise)">

                            <h2>{{ exercise.name }}</h2>
                            <div class='description'>Series: {{ exercise.series }}</div>
                            <div class='description'>Repetitions: {{ exercise.repetitions }}</div>
                            <div class='description'>Weight: {{ exercise.weight }}</div>

                            <hr />
                            <!-- Edit and Delete buttons -->
                            <div class="exercise-buttons" *ngIf="exercise.showButtons">
                                <button class="edit-btn" (click)="openEditExercisePopup(exercise)">Edit</button>
                                <button class="delete-btn" (click)="deleteExercise(exercise.id)">Delete</button>
                            </div>
                        </div>
                    </div>

                    <!-- Wednesday -->
                    <div class="square" (click)="handleSquareClick($event, 'Wednesday')">
                        <div *ngFor="let exercise of exercises | dayFilter: 'Wednesday'" class="exercise"
                            (click)="toggleExerciseButtons(exercise)">
                            <h2>{{ exercise.name }}</h2>
                            <div class='description'>Series: {{ exercise.series }}</div>
                            <div class='description'>Repetitions: {{ exercise.repetitions }}</div>
                            <div class='description'>Weight: {{ exercise.weight }}</div>

                            <hr />
                            <!-- Edit and Delete buttons -->
                            <div class="exercise-buttons" *ngIf="exercise.showButtons">
                                <button class="edit-btn" (click)="openEditExercisePopup(exercise)">Edit</button>
                                <button class="delete-btn" (click)="deleteExercise(exercise.id)">Delete</button>
                            </div>
                        </div>
                    </div>

                    <!-- Thursday -->
                    <div class="square" (click)="handleSquareClick($event, 'Thursday')">
                        <div *ngFor="let exercise of exercises | dayFilter: 'Thursday'" class="exercise"
                            (click)="toggleExerciseButtons(exercise)">
                            <h2>{{ exercise.name }}</h2>
                            <div class='description'>Series: {{ exercise.series }}</div>
                            <div class='description'>Repetitions: {{ exercise.repetitions }}</div>
                            <div class='description'>Weight: {{ exercise.weight }}</div>

                            <hr />
                            <!-- Edit and Delete buttons -->
                            <div class="exercise-buttons" *ngIf="exercise.showButtons">
                                <button class="edit-btn" (click)="openEditExercisePopup(exercise)">Edit</button>
                                <button class="delete-btn" (click)="deleteExercise(exercise.id)">Delete</button>
                            </div>
                        </div>
                    </div>

                    <!-- Friday -->
                    <div class="square" (click)="handleSquareClick($event, 'Friday')">
                        <div *ngFor="let exercise of exercises | dayFilter: 'Friday'" class="exercise"
                            (click)="toggleExerciseButtons(exercise)">
                            <h2>{{ exercise.name }}</h2>
                            <div class='description'>Series: {{ exercise.series }}</div>
                            <div class='description'>Repetitions: {{ exercise.repetitions }}</div>
                            <div class='description'>Weight: {{ exercise.weight }}</div>

                            <hr />
                            <!-- Edit and Delete buttons -->
                            <div class="exercise-buttons" *ngIf="exercise.showButtons">
                                <button class="edit-btn" (click)="openEditExercisePopup(exercise)">Edit</button>
                                <button class="delete-btn" (click)="deleteExercise(exercise.id)">Delete</button>
                            </div>
                        </div>
                    </div>

                    <!-- Saturday -->
                    <div class="square" (click)="handleSquareClick($event, 'Saturday')">
                        <div *ngFor="let exercise of exercises | dayFilter: 'Saturday'" class="exercise"
                            (click)="toggleExerciseButtons(exercise)">
                            <h2>{{ exercise.name }}</h2>
                            <div class='description'>Series: {{ exercise.series }}</div>
                            <div class='description'>Repetitions: {{ exercise.repetitions }}</div>
                            <div class='description'>Weight: {{ exercise.weight }}</div>

                            <hr />
                            <!-- Edit and Delete buttons -->
                            <div class="exercise-buttons" *ngIf="exercise.showButtons">
                                <button class="edit-btn" (click)="openEditExercisePopup(exercise)">Edit</button>
                                <button class="delete-btn" (click)="deleteExercise(exercise.id)">Delete</button>
                            </div>
                        </div>
                    </div>

                    <!-- Sunday -->
                    <div class="square" (click)="handleSquareClick($event, 'Sunday')">
                        <div *ngFor="let exercise of exercises | dayFilter: 'Sunday'" class="exercise"
                            (click)="toggleExerciseButtons(exercise)">
                            <h2>{{ exercise.name }}</h2>
                            <div class='description'>Series: {{ exercise.series }}</div>
                            <div class='description'>Repetitions: {{ exercise.repetitions }}</div>
                            <div class='description'>Weight: {{ exercise.weight }}</div>

                            <hr />
                            <!-- Edit and Delete buttons -->
                            <div class="exercise-buttons" *ngIf="exercise.showButtons">
                                <button class="edit-btn" (click)="openEditExercisePopup(exercise)">Edit</button>
                                <button class="delete-btn" (click)="deleteExercise(exercise.id)">Delete</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>