* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:#eee;
}

body {
    padding: 0;
    margin: 0;
    
}

.calendar-background {
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
}

.calendar-container {
    background: #1D252C;
    padding: 40px 60px;
    text-align: center;

}

.day-title,
.day-content {
    display: flex;
}

.day {
    font-size: 1.2rem;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.square {
    min-height: 600px;
    width: 200px;
    /* ToDo:check this */
    /* background-color: #ccc; */
    border: 0.1px solid #000;
    padding: 0.8px;
}

h3 {
    font-size: 37px;
    font-weight: 900;
    margin: 0 0 2rem;
}


.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.delete-all-btn {
    position: absolute;
    right: 0;
}


.header h3 {
    width: 100%;
}

.exercise:last-child {
    margin-bottom: 60px;
}

.exercise-buttons {
    margin: 0 13px 0 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exercise-buttons button {
    width: 60px;
    height: 26px;
    color: #fff;
    border: none;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
}

.exercise-buttons button.edit-btn {
    background-color: #576875;
}

.exercise-buttons button.delete-btn {
    background-color: #8c2b2b;
}

.exercise-buttons button.edit-btn:hover {
    background-color: #4d6a90;
}

.exercise-buttons button.delete-btn:hover {
    background-color: #ff4d4d;
}

.delete-all-btn button {
    font-size: 1.1rem;
    padding: 8px 16px;
    background-color: #b22b2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-all-btn button:hover {
    background-color: #ff4d4d;
}

.day-content {
    background-color: #32a8ccc2;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%231c538e' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2320ddff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23194982' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2315e1ff' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23163f76' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2308e6ff' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2313366a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2300eaff' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%230f2d5e' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2300eeff' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%230b2453' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2300f2fe' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"); */
    background-image: url("low-poly-grid-haikei.svg");
    background-attachment: fixed;
    background-size: cover;
}


.exercise{
    /* ToDo:control it */
    /* min-height: 120px; */

    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    user-select:none;
    max-width: 300px;
    margin: 0 5px 10px 5px;
    border: 1px solid #ffffff22;
    background: linear-gradient(0deg, rgba(40, 44, 52, 0.7) 0%, rgba(17, 0, 32, 0.3) 100%);

    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transition: .5s all;

    overflow: hidden;
    h2{
        height: 40px;
        font-size: 1.1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    hr{
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 12px;
    }
      .description{
    white-space: nowrap;
        color: #a89ec9;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
    ::before{
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: .7s all;
    }
    &:hover{
      border: 1px solid #ffffff44;
      box-shadow: 0 7px 50px 10px #000000aa;
      transform: scale(1.015);
      filter: brightness(1.3);
      ::before{
        filter: brightness(.5);
        top: -400%;
        left: 210%;
      }
    }
  }

